* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

h2 {
  margin: 0;
}
.info {
  overflow: hidden;
  max-height: 60px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.logo {
  height: 120px;
  object-fit: fill;
}
.logo img {
  height: 100%;
  object-fit: contain;
}
.city {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 22px;
}
.city span {
  font-weight: 400;
  font-size: 14px;
}

.phone a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #023e7f;
}
.menu {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  height: 47px;
}
.mains {
  margin: 0;
  width: 100%;
  position: relative;
  min-height: 400px;
  background-color: #023e7f;
}
.background {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mains h2 {
  padding-top: 60px;
  color: white;
  max-width: 40%;
}
.services {
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.pocinim {
  width: 45%;
  background-color: #fec12a;
  font-weight: 700;
  color: #212529;
  padding: 10px 20px;
  font-size: 22px;
  border: none;
}
.list_servise {
  margin-top: 50px;
  list-style-type: none;
}
.list_servise li {
  gap: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.list_servise li img {
  width: 60px;
}
.list_servise li p {
  padding-top: 18px;
}
.uznat-cenu {
  border-radius: 15px;
  box-shadow: 0 0.25rem 0 0 #9b6835;
  padding: 10px;
  background-color: #fec12a;
  font-weight: 700;
  color: #212529;
  font-size: 22px;
  border: none;
  margin-bottom: 50px;
}
.uznat-cenu img {
  width: 40px;
}
.first-screen-bottom {
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.1);
}
.achievement {
  list-style-type: none;
}
.achievement li {
  display: flex;
  align-items: center;
  text-align: initial;
}
.achievement span {
  font-size: 2.5rem;
  width: auto;
  text-align: left;
  display: initial;
  color: #023e7f;
}
.arrow {
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-top: 20px;
  animation: arrows 1s infinite;
}
.caunts {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #d9d5dd;
  width: 130px;
  border-radius: 20px;
}
.caunts span {
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
  display: block;
  background: #fec12a;
  width: 20px;
  height: w0px;
}
.text-answer {
  color: #023e7f;
  font-weight: 700;
  font-size: 22px;
  max-width: 50%;
  margin-bottom: 20px;
}
.social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.social-item {
  margin-right: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.social-item img {
  width: 35px;
}
.social-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-maps_button {
  background-color: rgb(58, 171, 88);
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.item-maps_button a {
  cursor: pointer;
  text-decoration: none;
  color: #023e7f;
}
.and {
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: #023e7f;
  font-weight: 700;
  font-size: 22px;
}
.phone-img {
  margin-right: 40px;
  background: #28a745;
}
.telegram {
  background-color: #33a9e3;
}
.viber {
  background-color: #59267c;
}
.map iframe {
  width: 100%;
  margin-top: 30px;
  height: 400px;
}
.iphone-bg {
  max-width: 100%;
  object-fit: fill;
}
.reason-item.accordion {
  margin-top: 140px;
}
.accordion-button:not(.collapsed) {
  color: black;
}
.accordion-button:focus {
  box-shadow: none;
}

.servis-centr .swiper-wrapper {
  height: max-content;
}
.servis-centr .servis-centr-item {
  margin-top: 25px;
  height: 400px;
}
.servis-centr .servis-centr-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  display: none;
}
.reviews .swiper-wrapper {
  height: max-content;
}
.reviews-item {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 20px;
}
.header-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-reviews {
  overflow: hidden;
  height: 120px;
}
.botom-reviews {
  display: flex;
  justify-content: space-between;
}
.botom-reviews ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.botom-reviews ul img {
  width: 20px;
}
.heart {
  width: 25px;
}
.application form {
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
}
.application form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  width: 260px;
}
.application form button {
  border-radius: 20px;
  width: 260px;
  padding: 20px;
  color: #212529;
  background-color: #fec12a;
  border: none;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #023e7f;
  color: #fff;
}
.mobile-social-buttons {
  display: none;
}
.logos img {
  max-width: 100px;
}
.contact-footer ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 5px;
}
.contact-footer ul img {
  width: 30px;
}
.contact-footer a {
  text-decoration: none;
  color: white;
}
.modal {
  --bs-modal-border-radius: none !important;
}
.modal-dialog {
  max-width: 700px;
  margin-top: 105px;
}
.modal form {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal form input {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  width: 260px;
}
.modal form button {
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  width: 260px;
  padding: 20px;
  color: #212529;
  background-color: #fec12a;
  border: none;
}
.city-mobyle {
  display: none;
}
@media (max-width: 991px) {
  .city-mobyle {
    display: block;
  }
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    height: auto;
  }
  .city {
    display: none;
  }
  header .phone a {
    font-size: 18px;
  }

  .mains {
    display: flex;
    flex-direction: column-reverse;
  }
  .mains h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    max-width: 100%;
  }
  .services {
    text-align: right;
    font-size: 14px;
  }
  h2 {
    text-align: center;
  }
  .list_servise {
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }
  .list_servise li img {
    width: 34px;
  }
  .list_servise li {
    margin-bottom: 0;
    font-size: 14px;
  }
  .uznat-cenu {
    margin-top: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .uznat-cenu img {
    width: 30px;
  }
  .background {
    min-height: 300px;
    width: 100%;
    position: relative;
  }
  .pocinim {
    width: 100%;
  }
  .reason-item h3 {
    text-align: center;
  }
  .reason-item p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .caunts {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .social {
    justify-content: center;
    flex-wrap: wrap;
  }
  .and {
    width: 100%;
    text-align: center;
  }
  .item-maps_button {
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  .application form {
    display: flex;
    flex-direction: column;
  }
  .application form input {
    width: 100%;
  }
  .application form button {
    width: 100%;
  }
  .accordion {
    margin-top: 20px;
  }
  .galery h2 {
    text-align: center;
  }
  .application h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .mobile-social-buttons {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    position: fixed;
    width: calc(100% - 10px);
    display: flex;
    bottom: 0px;
    z-index: 10;
    left: 0;
  }

  .mobile-social-buttons .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-social-buttons img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .viber-buttons {
    background-color: #59267c;
  }
  .telegram-buttons {
    background-color: #33a9e3;
  }
  .phone-buttons {
    background-color: #28a745;
  }
}

@keyframes arrows {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
