@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight:300;
  src: url('./proximanova-light.eot');
  src: url('./proximanova-light.eot?#iefix') format('embedded-opentype'),
  url('./proximanova-light.woff') format('woff'),
  url('./proximanova-light.ttf')  format('truetype'),
  url('./proximanova-light.svg#svgfontname') format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight:normal;
  src: url('./proximanova-regular.eot');
  src: url('./proximanova-regular.eot?#iefix') format('embedded-opentype'),
  url('./proximanova-regular.woff') format('woff'),
  url('./proximanova-regular.ttf')  format('truetype'),
  url('./proximanova-regular.svg#svgfontname') format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight:600;
  src: url('./proximanova-semibold.eot');
  src: url('./proximanova-semibold.eot?#iefix') format('embedded-opentype'),
  url('./proximanova-semibold.woff') format('woff'),
  url('./proximanova-semibold.ttf')  format('truetype'),
  url('./proximanova-semibold.svg#svgfontname') format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: swap;
  font-weight:bold;
  src: url('./proximanova-bold.eot');
  src: url('./proximanova-bold.eot?#iefix') format('embedded-opentype'),
  url('./proximanova-bold.woff') format('woff'),
  url('./proximanova-bold.ttf')  format('truetype'),
  url('./proximanova-bold.svg#svgfontname') format('svg');
}
